/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Light'), url('../fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Semibold Italic'), url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Semibold'), url('../fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Light Italic'), url('../fonts/OpenSans-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Italic'), url('../fonts/OpenSans-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Extrabold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Extrabold Italic'), url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Extrabold';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Extrabold'), url('../fonts/OpenSans-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Bold Italic'), url('../fonts/OpenSans-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Bold'), url('../fonts/OpenSans-Bold.woff') format('woff');
}
